<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EUC Rent - edit EUC</title>
</head>
<body>
    <h1>Edit data for EUC</h1>
    <form th:method="PATCH" th:action="@{/eucs/{id}(id=${euc.getId()})}" th:object="${euc}">
        <label for="model">Enter EUC model</label>
        <input type="text" th:field="*{model}" id="model">
        <div style="color: red" th:if="${#fields.hasErrors('model')}" th:errors="*{'model'}">Error in model</div>
        <br>
        <label for="serial">Enter serial number</label>
        <input type="text" th:field="*{serialN}" id="serial">
        <div style="color: red" th:if="${#fields.hasErrors('serialN')}" th:errors="*{serialN}">Error in serial</div>
        <br>
        <label for="weight">Enter weight of EUC in kg</label>
        <input type="number" th:field="*{weight}" id="weight">
        <div style="color: red" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}">Error weight</div>
        <br>
        <label for="distance">Enter possible run distance on one charge, km </label>
        <input type="number" th:field="*{distance}" id="distance">
        <div style="color: red" th:if="${#fields.hasErrors('distance')}" th:errors="*{distance}">Error distance</div>
        <br>
        <label for="tyre">Enter type of tyre (road/offroad) or model</label>
        <input type="text" th:field="*{tyre}" id="tyre">
        <div style="color: red" th:if="${#fields.hasErrors('tyre')}" th:field="*{tyre}">Error in tyre description</div>
        <br>
        <label for="price">Enter price of rent per day </label>
        <input type="number" th:field="*{dayPrice}" id="price">
        <div style="color: red" th:if="${#fields.hasErrors('dayPrice')}" th:errors="*{dayPrice}">Error price</div>
        <br>
        <label for="deposit">Enter sum of deposit for this EUC </label>
        <input type="number" th:field="*{deposit}" id="deposit">
        <div style="color: red" th:if="${#fields.hasErrors('deposit')}" th:errors="*{deposit}">Error deposit</div>
        <br>
        <br>
<!--       Assign EUC to user-->
        <input type="submit" value="Update!">
    </form>


</body>
</html>